<div flex>
	<md-card class="md-hue-1 element-relative">
		<md-card-content>
			<h2 class="md-title">Free Rotation</h2>
			<div class="spinner-container">
				<md-progress-circular md-mode="indeterminate" ng-show="spinners.rotation"></md-progress-circular>
			</div>
			<md-list layout="row" layout-sm="column" layout-wrap>
				<md-list-item flex-gt-sm="33" ng-repeat="champion in rotation | orderBy:'name'" ng-click="openChampion($event,champion.id)">
					<img class="md-avatar" ng-src="http://ddragon.leagueoflegends.com/cdn/5.21.1/img/champion/{{champion.image.full}}">
						<span>{{champion.name}}</span>
					</md-list-item>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>
	<md-card class="md-hue-1 element-relative">
		<md-card-content layout="column">
			<div layout="row" layout-sm="column" layout-fill>
				<span class="md-title" flex-gt-sm="67">Shard Status</span>
				<div class="spinner-container">
					<md-progress-circular md-mode="indeterminate" ng-show="spinners.shards"></md-progress-circular>
				</div>
				<md-input-container flex-gt-sm="33">
					<label>Region</label>
					<md-select ng-model="options.region" ng-change="updateStatus(options.region)">
						<md-option ng-repeat="shard in shards" value="{{shard.slug}}">
							{{shard.name}}
						</md-option>
					</md-select>
				</md-input-container>
	        </div>
			<md-list layout="row" layout-sm="column" flex>
				<md-list-item ng-repeat="service in data.status.services" flex-gt-sm="25">
					<md-icon class="md-avatar-icon iof-icon-margin">{{statusCheck(service.status)}}</md-icon>
						<span>{{service.name}}</span>
					</md-list-item>
				</md-list-item>
			</md-list>	
		</md-card-content>
	</md-card>
</div>